#container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.box {
    border: 7px solid #000;
    box-sizing: border-box;
    flex: 1 1 33%;
    height: 150px;
    
}